{% extends 'base.html' %}
{% block content %}

<body style="background-image: url(&quot;assets/img/star-sky.jpg&quot;);">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-primary float-none">
        <div class="container-fluid"><img src="assets/img/mainicon.png" width="30px" height="30px" alt="10px"><a class="navbar-brand text-center" href="#" style="margin: 0px 0px;">HOSPITAL SYSTEM</a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav text-light ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a href="#" style="color: white;background-color: grey;">Dashboard</a></li>
                <li> <a href="#">Add Doctor</a></li>
                <li> <a href="#">Add Receptionist</a></li>
                <li> <a href="#">View Doctors</a></li>
                <li> <a href="#">View Receptionists</a></li>
                <li> <a href="#">Logout</a></li>
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: white;"></i></a>
                <h1 class="text-center" style="color: white;">You are sucessfully logged in..</h1>
            </div>
        </div>
    </div>{% endblock %}